body {
  background-color: #F8F0E5;
  /* Rich white: #F1F0EB, Color hunt: #F8F0E5,  */
  margin: 0;
  padding: 0;
}

nav{
  margin: 2rem 4rem;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-left: 0.7rem;
}

.tejas-logo {
  height: 4.5rem;
  width: 5rem;
}

@media (min-width: 992px) {  
  .nav-link {
    margin-left: 5rem;
  }
}