/* Color Palette: https://colorhunt.co/palette/f8f0e5eadbc8dac0a3102c57 */

body {
  background-color: #F8F0E5;
}

footer{
  background-color: #102C57;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: justify;
}

.big-headers {
  font-family: 'Merriweather', serif;
  margin-bottom: 2rem;
}

.bold-text {
  font-weight: 500;
}

.btn-download {
  background-color: transparent; 
  border: 2px solid #D1BBA1; /* Light brown border to complement the background */
  border-radius: 20px; /* Increased for more rounded sides */
  color: #D1BBA1; /* Color changed to light brown to match with the border */
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  padding: 15px 25px; 
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 

  /* Add a hover effect */
  &:hover,
  &:focus {
      background-color: #D1BBA1; /* Light brown color on hover */
      text-decoration: none;
      color: #F8F0E5; /* Background color is used for text on hover to create a reverse effect */
      border-color: #F8F0E5; /* Using background color for border on hover for consistency */
  }
}

.certification {
  background-color: #F8F0E5;
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.contact {
  background-color: #DAC0A3;
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  text-align: center;
}

.download {
  padding: 4rem;
}

.description {
  margin: auto 1.5rem;
  text-align: justify;
}

.education{
  background-color: #EADBC8;
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.employment{
  background-color: #EADBC8;
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.footer-copyright {
  color: #A9B4C2;
  margin-top: 2rem;
}

.footer-links {
  color: white;             /* White text color */
  font-family: 'Montserrat', sans-serif;
  margin: auto 2rem;
  position: relative;       /* Relative positioning to add pseudo-elements if needed */
  text-decoration: none;    /* Removes the default underline */
  transition: color 0.3s;   /* Smooth transition for color changes */
  /* font-weight: 500;         Slightly bolder than normal text for distinction */
  /* padding-bottom: 2px;      Small padding at the bottom for the underline */
}

/* Hover & focus effects for .footer-links */
.footer-links:hover, .footer-links:focus {
  color: rgba(255, 255, 255, 0.7);  /* Slightly translucent white on hover for subtle contrast against the navy blue background */
}

.footer-links:hover::after, .footer-links:focus::after {
  content: '';              /* Required for the pseudo-element to take up space */
  position: absolute;       /* Absolute positioning relative to the .footer-links tag */
  bottom: 0;                /* Position at the bottom of the .footer-links tag */
  left: 0;                  /* Align to the left */
  width: 100%;              /* Full width of the .footer-links tag */
  height: 2px;              /* Height of the underline */
  background-color: rgba(255, 255, 255, 0.7);  /* Slightly translucent white for the underline */
}

/* Active state for .footer-links */
.footer-links:active {
  color: rgba(255, 255, 255, 0.5);  /* More translucent white for an active (clicked) state for additional contrast */
}

.form-control {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: #5C4033; /* Slightly darker placeholder text for better visibility */
  border: 2px solid #5C4033;
  padding: 10px 15px; 
  margin-bottom: 20px;
  width: 100%;
  transition: border-color 0.3s ease; /* For a smoother transition */
}

/* Specific styles when any form control is focused */
.form-control:focus {
  background-color: transparent;
  outline: none;
  border-color: #9B7861; /* Adjust if you want a different color when focused */
}

.form-group {
  margin-bottom: 1rem;
}

.form-wrapper {
  width: 50%;
  padding-top: 3rem; 
  margin: auto; /* Centers the form in the middle */
}

/* First and Last Name Inputs Side by Side */
.name-group {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.name-input {
  margin-bottom: 0;
}

.heading {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.images {
  border-radius: 5px;
  margin: auto;
  width: 80%;
}

.name-group {
  display: flex;
  flex-wrap: nowrap; /* By default, don't allow wrapping */
  justify-content: space-between;
}

.name-input {
  width: 48%;
}

.nav-container {
  padding-top: 2rem;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.project {
  background-color: #EADBC8;
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.rounded-input {
  border-radius: 7px;
  border: 1px solid #a89b8e;
}

.skills {
  background-color: #F8F0E5;
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.skills-table {
  border-collapse: separate;
  border-spacing: 3rem 1rem;  
}

.skills-table td {
  background-color: #F8F0E5;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 60px;  /* Set fixed height for each box */
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  vertical-align: middle;
  width: 10rem;  /* Set fixed width for each box */
}

.skills-table td:hover {
  background-color: #e1d6c1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

.sub-description {
  text-align: center;
}

.submit-btn {
  background-color: #D1BBA1;
  border: 2px solid #5C4033; /* Darker border for visibility */
  border-radius: 20px;
  color: #5C4033; /* Darker text for visibility */
  display: block; /* Will make the button a block element */
  font-family: 'Montserrat', sans-serif;
  margin: 5rem auto 0; /* Centers the button */
  font-size: 18px;
  font-weight: 500;
  padding: 15px 25px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  cursor: pointer; /* Hand cursor on hover for better UX */
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #5C4033; /* Switch background and text colors on hover */
  color: #D1BBA1;
  border-color: #D1BBA1;
  text-decoration: none;
}

.tejas-logo {
  height: 4.5rem;
  width: 5rem;
}

@media (min-width: 992px) {  
  .nav-link {
    margin-left: 4.8rem;
  }

  .footer-links{
    margin: auto 5rem;
  }
}

@media (min-width: 1109px) {  
  .skills-table {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media (max-width: 991.98px) {
  p {
    font-size: 1rem;
  }

  .form-wrapper {
    width: 70%;
  }

  .images {
    margin-bottom: 2.5rem;
  }

  .name-group {
    flex-wrap: wrap;
  }

  .name-input {
    width: 100%;
  }
}